body{
    background-image: url("../../public/img/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

header{
    width: 100%;
    height: 100vh;
}

.btn-started{
    padding: 10px 30px;
}