.f-18 { font-size: 18px !important; }
.f-20 { font-size: 20px !important; }
.f-25 { font-size: 25px !important; }
.f-35 { font-size: 35px !important; }
.text-muted2 { color: rgba(255, 255, 255, 0.733); }
body::-webkit-scrollbar { width: 8px; }
body::-webkit-scrollbar-thumb { background-color: rgb(231, 38, 38); }
body::-webkit-scrollbar-track { background-color: black; }
body { font-family: Arial, Helvetica, sans-serif; padding-bottom: 300px;}
.bg-black-hidden { background-color: rgba(0, 0, 0, 0.856); }